html {
    box-sizing: border-box;
    background-color: #FFFDD0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    color: #464600;
}
img {
    width: 600px;
}